<article class="mtg-card card">
    <span class="img-mask">
        <img src="<%= card.imageUrl %>" />
    </span>
    <a href="/card/<%= card.multiverseid %>">
        <span class="mtg-card-name"><%= card.name %></span>
    </a>
</article>
